*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata

.kotlin/
.gradle
**/build/
!src/**/build/


gradle-app.setting

!gradle-wrapper.jar

!gradle-wrapper.properties

.gradletasknamecache

.project

.classpath

*.DS_Store

!.idea/
.idea/*
!.idea/codestyles/

iosApp/Pods/*
iosApp/Podfile.lock
iosApp/iosApp.xcodeproj